.example-card {
  background-color:silver;
  margin: 10px;
}

h1{
  color: black;
   font-size: 2rem;
   width: 350px;
   text-align: center;
}
.div{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 50px;
}

.precios{
  display: block;
}
.tachar{
  text-decoration: line-through;
  color: red;
  font-size: 1.5rem;
}

div .precioOferta{
  font-size: 2rem;
  // border: black 2px solid;
  // background: coral;
  margin-left: 200px;
}

p{
  text-align: justify;
  font-size: 17px;
  height: 130px;
}
.meGusta button{
  width: 50px;
  height: 50px;
}


@media (max-width: 1024px) {
  .div{
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
  }
}

@media (max-width: 990px) {
  .div{
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
  }
}

@media (max-width: 768px) {
  .div{
    grid-template-columns: repeat(1, 1fr);
    padding: 50px;
    justify-items: center;
  }

  div .precioOferta{
    margin-left: 400px;
  }
}
